html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.contextmenu {
  height: auto;
  position: fixed;
  margin-top: -99999px;
  top: 0px;
  left: 0px;
  padding: 2px 0;
  border: 1px solid #cecece;
  box-shadow: 0 0px 5px #cecece;
  border-radius: 3px;
  background: white url('images/vline.jpg?exclude') 27px repeat-y;

  ul {
    padding: 0;
    margin: 0;
    min-width: 100px;
    background-clip: content-box;
    position: relative;
  }

  li {
    cursor: default;
    text-align: left;
    margin: 0 1px;
    padding: 0 1px;
    font-size: 12px;
    line-height: 22px;
    list-style: none;
    position: relative;

    & > a {
      display: block;
      border: 1px solid transparent;
      position: relative;
      padding-right: 15px;
      white-space: nowrap;

      &:after, &[command]:after {
        position: absolute;
        top: 50%;
        right: 5px;
        margin-top: -3.5px;
        content: '';
        height: 7px;
        width: 4px;
        display: inline-block;
        background: url('images/arrow-right.png') no-repeat;
      }

      &[command]:after {
        background: none;
      }

      & i {
        content: '';
        width: 20px;
        height: 21px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
        text-align: center;
        font-size: 0px;
        line-height: 21px;
        position: relative;
        top: -1px;

        &:before {
          content: '';
          display: inline-block;
          vertical-align: middle;
        }
      }

      &:hover {
        background: #fff5d4;
        border-color: #dcac6c;
      }

      &.contextmenu--disabled {
        opacity: 0.3;
        cursor: default;

        &:hover {
          background: transparent;
          border-color: transparent;
        }
      }
    }

    &.contextmenu__line {
      border: 0px;
      line-height: 1px;
      margin: 1px 2px 1px 29px;
      height: 1px;
      font-size: 0px;
      background: url('images/vline.jpg?exclude') 27px repeat-x;
    }
  }

  .contextmenu__scrollbar {
    height: 10px;
    position: absolute;
    width: 99%;
    display: none;
    border-radius: 3px;
    background: white;
    margin-left: 0.5%;
    text-align: center;
    font-size: 0;
    line-height: 10px;

    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      border: 4px solid transparent;
    }

    &.contextmenu__scrollbar--top {
      top: 0px;

      &:before {
        border-top-width: 0;
        border-bottom-color: black;
      }
    }

    &.contextmenu__scrollbar--bottom {
      bottom: 0px;

      &:before {
        border-bottom-width: 0;
        border-top-color: black;
      }
    }
  }

  &.contextmenu--scroll {
    &>ul {
      overflow: hidden;
    }

    &>.contextmenu__scrollbar {
      display: block;
    }
  }
}